<h2 class="title">Payment App</h2>
<div class="example-table-container">
  <mat-form-field class="filter-input">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <div class="table-layout">
    <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.payee_first_name + row.payee_last_name}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_payment_status">
        <th mat-header-cell *matHeaderCellDef>Payment status</th>
        <td mat-cell *matCellDef="let row">{{row.payee_payment_status}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_address_line_1">
        <th mat-header-cell *matHeaderCellDef>Address line 1</th>
        <td mat-cell *matCellDef="let row">{{row.payee_address_line_1}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_address_line_2">
        <th mat-header-cell *matHeaderCellDef>Address line 2</th>
        <td mat-cell *matCellDef="let row">{{row.payee_address_line_2}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let row">{{row.payee_city}}</td>
      </ng-container>
      
      <ng-container matColumnDef="payee_country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let row">{{row.payee_country}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_province_or_state">
        <th mat-header-cell *matHeaderCellDef>Province or state</th>
        <td mat-cell *matCellDef="let row">{{row.payee_province_or_state}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_postal_code">
        <th mat-header-cell *matHeaderCellDef>Postal code</th>
        <td mat-cell *matCellDef="let row">{{row.payee_postal_code}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_phone_number">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let row">{{row.payee_phone_number}}</td>
      </ng-container>
      
      <ng-container matColumnDef="payee_email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.payee_email}}</td>
      </ng-container>
    
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let row">{{row.currency}}</td>
      </ng-container>

      <ng-container matColumnDef="discount_percent">
        <th mat-header-cell *matHeaderCellDef>discount_percent</th>
        <td mat-cell *matCellDef="let row">{{row.discount_percent| number : '1.2-2'}}</td>
      </ng-container>

      <ng-container matColumnDef="tax_percent">
        <th mat-header-cell *matHeaderCellDef>tax_percent</th>
        <td mat-cell *matCellDef="let row">{{row.tax_percent | number : '1.2-2'}}</td>
      </ng-container>

      <ng-container matColumnDef="due_amount">
        <th mat-header-cell *matHeaderCellDef>due_amount</th>
        <td mat-cell *matCellDef="let row">{{row.due_amount | number : '1.2-2'}}</td>
      </ng-container>

      <ng-container matColumnDef="total_due">
        <th mat-header-cell *matHeaderCellDef>total_due</th>
        <td mat-cell *matCellDef="let row">{{row.total_due | number : '1.2-2'}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>edit</th>
        <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="edit(row)"><mat-icon>edit</mat-icon></button></td>
      </ng-container>

      <ng-container matColumnDef="payee_added_date_utc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Payee added date utc
        </th>
        <td mat-cell *matCellDef="let row">{{row.payee_added_date_utc | date}}</td>
      </ng-container>

      <ng-container matColumnDef="payee_due_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Payee due date
        </th>
        <td mat-cell *matCellDef="let row">{{row.payee_due_date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="removePayment(row)"><mat-icon class="icon-warn">delete</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of search results">
  </mat-paginator>
</div>