.form-items {
    padding-left: 10px;
    padding-right: 10px;
}

.actions {
    display: flex;
    justify-content: center;
}

.action-items {
    margin: 10px;
}

.title {
    padding-left: 20px;
}

.form-layout {
    padding: 10px;
}