<div class="header-layout">
    <h2 class="title">Payment App</h2>
    <button mat-flat-button (click)="addPayment()">Add payment<mat-icon>add</mat-icon></button>
</div>
<div class="example-table-container">
    <mat-form-field class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="table-layout">
        <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear multiTemplateDataRows
            matSortDirection="desc">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">{{row.payee_first_name + " " + row.payee_last_name}}</td>
            </ng-container>

            <ng-container matColumnDef="payee_payment_status">
                <th mat-header-cell *matHeaderCellDef>Payment status</th>
                <td mat-cell *matCellDef="let row">{{row.payee_payment_status}}</td>
            </ng-container>

            <ng-container matColumnDef="due_amount">
                <th mat-header-cell *matHeaderCellDef>due_amount</th>
                <td mat-cell *matCellDef="let row">{{row.due_amount | number : '1.2-2'}}</td>
            </ng-container>

            <ng-container matColumnDef="total_due">
                <th mat-header-cell *matHeaderCellDef>total_due</th>
                <td mat-cell *matCellDef="let row">{{row.total_due | number : '1.2-2'}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>edit</th>
                <td mat-cell *matCellDef="let row"><button mat-icon-button
                        (click)="edit(row)"><mat-icon>edit</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="payee_added_date_utc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                    Payee added date utc
                </th>
                <td mat-cell *matCellDef="let row">{{row.payee_added_date_utc | date}}</td>
            </ng-container>

            <ng-container matColumnDef="payee_due_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                    Payee due date
                </th>
                <td mat-cell *matCellDef="let row">{{row.payee_due_date | date}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>delete</th>
                <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="removePayment(row)"><mat-icon
                            class="icon-warn">delete</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef>download</th>
                <td mat-cell *matCellDef="let row"><button mat-icon-button
                        [disabled]="row.payee_payment_status !== 'completed'" (click)="downloadEvidence(row)"><mat-icon
                            [ngClass]="{'icon-priamry': row.payee_payment_status == 'completed'}">download</mat-icon></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        @if (expandedElement === element) {
                        <mat-icon>keyboard_arrow_up</mat-icon>
                        } @else {
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        }
                    </button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="expand-layout" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <p class="details"><b>Address line 1: </b>{{element.payee_address_line_1 }}</p>
                        <p class="details"><b>Address line 2: </b>{{element.payee_address_line_2 }}</p>
                        <p class="details"><b>City: </b>{{element.payee_city }}</p>
                        <p class="details"><b>Country: </b>{{element.payee_country }}</p>
                        <p class="details"><b>Province_or_state:</b> {{element.payee_province_or_state }}</p>
                        <p class="details"><b>Postal_code: </b>{{element.payee_postal_code }}</p>
                        <p class="details"><b>Phone_number: </b>{{element.payee_phone_number }}</p>
                        <p class="details"><b>Email: </b>{{element.payee_email }}</p>
                        <p class="details"><b>Currency: </b>{{element.currency }}</p>
                        <p class="details"><b>Discount percent: </b>{{element.discount_percent| number : '1.2-2' }}</p>
                        <p class="details"><b>Tax percent: </b>{{element.tax_percent | number : '1.2-2' }}</p>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    

    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of search results">
    </mat-paginator>
</div>